In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('cr_rf_sample_100k.csv')
display(df.head())

,label,arena_id,avg_start_trophies,player_start_trophies,player_trophy_change,player_crowns,elixir_avg,troop_cnt,structure_cnt,spell_cnt,common_cnt,rare_cnt,epic_cnt,legendary_cnt,trophy_bin,cards_str
0,1,54000049,5516.0,5517.0,29.0,3.0,3.750,6,0,2,2,0,2,4,bin_7,26000041|26000022|26000012|28000004|26000055|2...
1,1,54000049,5471.5,5470.0,30.0,2.0,3.500,7,0,1,4,2,2,0,bin_6,26000019|26000000|26000013|28000001|26000011|2...
2,1,54000050,5395.5,5390.0,30.0,3.0,4.250,6,0,2,0,0,6,2,bin_6,26000009|28000015|26000035|26000023|26000015|2...
3,1,54000050,5348.0,5365.0,27.0,3.0,4.125,6,1,1,3,3,0,2,bin_6,26000029|26000057|26000039|28000001|26000080|2...
4,1,54000050,5240.5,5228.0,32.0,3.0,3.250,7,0,1,4,0,1,3,bin_6,26000049|26000037|26000055|26000032|26000056|2...

In [2]:
df = df[df['trophy_bin'] == 'bin_4']
df["cards_list"] = df["cards_str"].apply(lambda x: x.split("|"))

df = df.drop("cards_str", axis=1)

df

,label,arena_id,avg_start_trophies,player_start_trophies,player_trophy_change,player_crowns,elixir_avg,troop_cnt,structure_cnt,spell_cnt,common_cnt,rare_cnt,epic_cnt,legendary_cnt,trophy_bin,cards_list
9,1,54000050,4788.5,4803.0,27.0,2.0,3.375000,7,0,1,4,0,1,3,bin_4,"[26000055, 26000049, 28000001, 26000041, 26000..."
11,1,54000050,4871.0,4871.0,30.0,1.0,3.250000,6,1,1,4,0,1,3,bin_4,"[26000055, 28000008, 26000037, 26000032, 26000..."
12,1,54000050,4869.5,4864.0,30.0,3.0,4.125000,6,0,2,1,1,5,1,bin_4,"[26000009, 28000015, 26000063, 26000043, 28000..."
13,1,54000050,4862.5,4868.0,29.0,3.0,4.125000,5,0,3,2,2,2,2,bin_4,"[26000003, 28000010, 28000008, 26000018, 26000..."
19,1,54000050,4861.5,4861.0,30.0,3.0,3.625000,6,0,2,2,2,3,1,bin_4,"[26000036, 26000012, 26000040, 26000004, 28000..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99694,0,54000050,4805.0,4807.0,-30.0,0.0,4.625000,7,0,1,0,4,3,1,bin_4,"[26000018, 26000007, 26000015, 26000062, 28000..."
99697,0,54000050,4840.0,4838.0,-29.0,2.0,4.250000,5,2,1,1,5,2,0,bin_4,"[26000021, 26000017, 26000022, 28000002, 27000..."
99698,0,54000050,4909.0,4910.0,-30.0,0.0,3.500000,5,1,2,2,2,3,1,bin_4,"[26000021, 26000049, 28000002, 26000012, 26000..."
99700,0,54000050,4881.0,4883.0,-30.0,0.0,4.500000,6,0,2,5,1,1,1,bin_4,"[26000024, 26000017, 26000022, 28000008, 28000..."
99702,0,54000050,4659.0,4662.0,-30.0,0.0,3.982143,4,1,3,1,4,3,0,bin_4,"[28000006, 26000012, 27000006, 26000018, 26000..."

In [30]:
wincons = pd.read_csv('Wincons.csv')
wincons["card_id"] = wincons["card_id"].astype(str)
wincons

     id   card_id         card_name
0     1  26000056   Skeleton Barrel
1     2  27000002            Mortar
2     3  26000024       Royal Giant
3     4  26000067      Elixir Golem
4     5  26000021         Hog Rider
5     6  26000036        Battle Ram
6     7  26000003             Giant
7     8  26000059        Royal Hogs
8     9  26000028  Three Musketeers
9    10  26000058     Wall Breakers
10   11  28000004     Goblin Barrel
11   12  26000006           Balloon
12   13  27000008             X-Bow
13   14  26000060      Goblin Giant
14   15  26000009             Golem
15   16  26000085     Electro Giant
16   17  26000032             Miner
17   18  26000051         Ram Rider
18   19  28000010         Graveyard
19   20  26000029        Lava Hound
20   21  26000055       Mega Knight
21   22  26000015       Baby Dragon
22   23  26000016            Prince
23   24  26000020    Giant Skeleton
24  999  99999999            Others

In [4]:
wincon_list = wincons["card_id"].tolist()

# Convert all entries to strings
wincon_list = [str(x) for x in wincon_list]

# Remove any placeholder or invalid card ID
if '99999999' in wincon_list:
    wincon_list.remove('99999999')

# Check the result
wincon_list

['26000056',
 '27000002',
 '26000024',
 '26000067',
 '26000021',
 '26000036',
 '26000003',
 '26000059',
 '26000028',
 '26000058',
 '28000004',
 '26000006',
 '27000008',
 '26000060',
 '26000009',
 '26000085',
 '26000032',
 '26000051',
 '28000010',
 '26000029',
 '26000055',
 '26000015',
 '26000016',
 '26000020']

In [5]:
#getting rid of the decks without wincons
df["wincons_found"] = df["cards_list"].apply(
    lambda cards: [card for card in cards if card in wincon_list]
)
df["has_wincon"] = df["wincons_found"].apply(lambda x: len(x) > 0)
df_wincon = df[df["has_wincon"]]

df_wincon

,label,arena_id,avg_start_trophies,player_start_trophies,player_trophy_change,player_crowns,elixir_avg,troop_cnt,structure_cnt,spell_cnt,common_cnt,rare_cnt,epic_cnt,legendary_cnt,trophy_bin,cards_list,wincons_found,has_wincon
9,1,54000050,4788.5,4803.0,27.0,2.0,3.375000,7,0,1,4,0,1,3,bin_4,"[26000055, 26000049, 28000001, 26000041, 26000...","[26000055, 26000032, 26000056]",True
11,1,54000050,4871.0,4871.0,30.0,1.0,3.250000,6,1,1,4,0,1,3,bin_4,"[26000055, 28000008, 26000037, 26000032, 26000...","[26000055, 26000032, 26000056]",True
12,1,54000050,4869.5,4864.0,30.0,3.0,4.125000,6,0,2,1,1,5,1,bin_4,"[26000009, 28000015, 26000063, 26000043, 28000...","[26000009, 26000015]",True
13,1,54000050,4862.5,4868.0,29.0,3.0,4.125000,5,0,3,2,2,2,2,bin_4,"[26000003, 28000010, 28000008, 26000018, 26000...","[26000003, 28000010]",True
19,1,54000050,4861.5,4861.0,30.0,3.0,3.625000,6,0,2,2,2,3,1,bin_4,"[26000036, 26000012, 26000040, 26000004, 28000...",[26000036],True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99694,0,54000050,4805.0,4807.0,-30.0,0.0,4.625000,7,0,1,0,4,3,1,bin_4,"[26000018, 26000007, 26000015, 26000062, 28000...",[26000015],True
99697,0,54000050,4840.0,4838.0,-29.0,2.0,4.250000,5,2,1,1,5,2,0,bin_4,"[26000021, 26000017, 26000022, 28000002, 27000...","[26000021, 26000006]",True
99698,0,54000050,4909.0,4910.0,-30.0,0.0,3.500000,5,1,2,2,2,3,1,bin_4,"[26000021, 26000049, 28000002, 26000012, 26000...","[26000021, 26000020]",True
99700,0,54000050,4881.0,4883.0,-30.0,0.0,4.500000,6,0,2,5,1,1,1,bin_4,"[26000024, 26000017, 26000022, 28000008, 28000...",[26000024],True
99702,0,54000050,4659.0,4662.0,-30.0,0.0,3.982143,4,1,3,1,4,3,0,bin_4,"[28000006, 26000012, 27000006, 26000018, 26000...",[28000004],True

In [36]:
usage_counts = {}

for wc in wincon_list:
    # Count how many decks have this wincon
    usage_counts[wc] = df["cards_list"].apply(lambda cards: wc in cards).sum()

winrates = {}

for wc in wincon_list:
    # Filter decks containing this wincon
    decks_with_wc = df[df["cards_list"].apply(lambda cards: wc in cards)]
    # Average of label = winrate
    winrates[wc] = decks_with_wc["label"].mean()


wincon_stats = pd.DataFrame({
    "wincon_id": list(usage_counts.keys()),
    "usage_count": list(usage_counts.values()),
    "winrate": [winrates[wc] for wc in usage_counts.keys()]
})

# Sort by usage or winrate
wincon_stats = wincon_stats.sort_values(by="winrate", ascending=False)

wincon_stats_named = wincon_stats.merge(
    wincons, 
    left_on="wincon_id", 
    right_on="card_id",
    how="left"
)
wincon_stats_named = wincon_stats_named.drop(columns=["card_id", "id"])

wincon_stats_named

   wincon_id  usage_count   winrate         card_name
0   26000058          320  0.528125     Wall Breakers
1   26000029          282  0.514184        Lava Hound
2   26000024         2313  0.514051       Royal Giant
3   26000036          827  0.513906        Battle Ram
4   26000021         7678  0.511982         Hog Rider
5   26000056         1608  0.510572   Skeleton Barrel
6   26000051          884  0.510181         Ram Rider
7   26000006         3670  0.507629           Balloon
8   26000016         2675  0.505047            Prince
9   27000002          351  0.504274            Mortar
10  26000009         1826  0.502738             Golem
11  26000032         2155  0.496520             Miner
12  28000004         3821  0.496205     Goblin Barrel
13  26000055         4682  0.493165       Mega Knight
14  26000020         2009  0.492285    Giant Skeleton
15  26000028          276  0.489130  Three Musketeers
16  26000015         4245  0.485041       Baby Dragon
17  26000003         1896  0.484705             Giant
18  28000010          507  0.465483         Graveyard
19  26000067          680  0.458824      Elixir Golem
20  26000060          157  0.452229      Goblin Giant
21  27000008          424  0.450472             X-Bow
22  26000059          928  0.446121        Royal Hogs
23  26000085           97  0.391753     Electro Giant

In [40]:
top_wincons = wincon_stats_named.sort_values(by="winrate", ascending=False).head(5)
top_usage = wincon_stats_named.sort_values(by="usage_count", ascending=False).head(5)

top_wincons

  wincon_id  usage_count   winrate      card_name
0  26000058          320  0.528125  Wall Breakers
1  26000029          282  0.514184     Lava Hound
2  26000024         2313  0.514051    Royal Giant
3  26000036          827  0.513906     Battle Ram
4  26000021         7678  0.511982      Hog Rider

In [42]:
top_usage

   wincon_id  usage_count   winrate      card_name
4   26000021         7678  0.511982      Hog Rider
13  26000055         4682  0.493165    Mega Knight
16  26000015         4245  0.485041    Baby Dragon
12  28000004         3821  0.496205  Goblin Barrel
7   26000006         3670  0.507629        Balloon